button,
.button {
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
}

button.negative,
.button.negative {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
}

button.negative:hover,
.button.negative:hover {
    color: var(--secondary);
    background-color: transparent;
}


button.positive,
.button.positive {
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

button.positive:hover,
.button.positive:hover {
    color: var(--primary);
    background-color: transparent;
}
