body {
    /* all: unset; */
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    min-width: 400px;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
}

.full {
    width: 100%;
}

.lateral-padding {
    padding-left: 50px;
    padding-right: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
}

.row button+button {
    margin-left: 15px;
}


.margin-top {
    margin-top: 50px;
}

.margin-top-2 {
    margin-top: 25px;
}

.space-between {
    justify-content: space-between;
}


input[type="file"] {
    display: none;
}

input[type="range"] {
    flex-grow: 2;
}

.range label {
    font-size: 1.4rem;
}

.range {
    max-width: 500px;
}

.range__label label+span {
    margin-left: 5px;
}

.range__label span {
    font-weight: 500;
}

[draggable].drop-zone * {
    /* no events for children inside a droppable zone */
    /* if not, dragenter/leave events get mixed up */
    pointer-events: none;
}

[draggable].dragging {
    transform: scale(1.01);
    opacity: 0.8;
}

.drop-zone {
    border: 2px dashed var(--primary);
    padding: 50px 20px;
    color: var(--primary-dark);
    max-width: 1000px;

}

.drop-zone.dragging {
    border-style: solid;
    opacity: 1;
}

.invisible {
    display: none;
}

/* ------------------------------------- */

[id=canvas] {
    /* border-radius: 5px; */
    border: 1px solid black;
}
